.place__title {
    margin: 0;
    grid-area: title;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

@media screen and (max-width: 984px){
  .place__title {
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 640px){
    .place__title {
      margin-top: 0;
      margin-right: 16px;
      margin-bottom: 0;
      margin-left: 16px;
      font-style: normal;
      font-weight: 900;
      font-size: 32px;
      line-height: 35px;
    }
}