.lead__title {
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin: auto;
}
  
@media screen and (max-width: 984px){
  .lead__title {
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 720px){
  .lead__title {
    font-size: 60px;
    line-height: 64px;
  }
}
  
@media screen and (max-width: 500px){
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}