@import url(./__overlay/cover__overlay.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);

.cover {
    margin: 0 auto;
    width: 100%;
    padding-top: 92px;
    padding-right: 48px;
    padding-left: 48px;
    box-sizing: border-box;
}

@media screen and (max-width: 1140px){
    .cover {
        padding-right: 0;
        padding-left: 0;
    }
}

@media screen and (max-width: 984px){
    .cover {
        padding-top: 88px;
    }
}

@media screen and (max-width: 640px){
    .cover {
        padding-top: 64px;
    }
}