.cover__background {
    background-image: url(../../../images/cover-trains.jpg);
    min-height: 740px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

@media screen and (max-width: 1140px){
    .cover__background {
      min-height: 640px;
    }
  }
  
  @media screen and (max-width: 984px){
    .cover__background {
      min-height: 480px;
    }
  }
  
  @media screen and (max-width: 568px){
    .cover__background {
      min-height: 200px;
    }
  }