@import url(./__menu-link/footer__menu-link.css);
@import url(./__menu-links/footer__menu-links.css);
@import url(./__menu/footer__menu.css);
@import url(./__author/footer__author.css);

.footer {
    padding-top: 92px;
    padding-right: 48px;
    padding-bottom: 24px;
    padding-left: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 984px){
    .footer {
        padding-top: 88px;
        padding-right: 24px;
        padding-bottom: 24px;
        padding-left: 24px; 
    }
}

@media screen and (max-width: 640px){
    .footer {
        padding-right: 118px;
        padding-bottom: 24px;
    }
}